Forecast for {{ city }}
<div ng-repeat="w in weatherResult.list">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ convertDate(w.dt) | date: 'yyyy-MM-dd' }}</h4>
                </div>
                <div class="panel-body">
                    Daytime temperature: {{ convertToCelsius(w.temp.day) }} &#176;C
                </div>
            </div>
        </div>
    </div>
</div>